<template>
    <div class="px-48">
        <h2>{{ date }}</h2>
        <div class="flex flex-wrap bg-gray-200 px-10 py-8 border border-gray-500">
            <div class="w-2/4 p-2 text-left" v-for="(corral, key) in corrals" :key="key">
                Загон {{corral.number}} ({{ corral.sheepsCount }})
                <div class="text-gray-700 text-right bg-white p-2 overflow-auto h-64 border border-gray-900">
                    <sheeps :sheeps="corral.sheeps"></sheeps>
                </div>
            </div>
        </div>
        <button @click="update">update</button>
    </div>
</template>

<script>

    import axios from 'axios';
    import Sheeps from "./Sheeps";

    export default {

        name: 'Home',
        components: {Sheeps},
        data() {
            return {
                corrals: [],
                startDate: '',
                date: '',
            }
        },

        computed: {
            formData: function () {
                let sheepCounts = [];
                let formData = [];

                for (let corral of this.corrals) {
                    if (corral.sheepsCount){
                        sheepCounts.push(corral.sheepsCount + '.' + corral.id);
                    }
                }

                let sortedSheepCountCorral = sheepCounts.sort();
                let fromCorral = sheepCounts.pop();
                for (let toCorral of sortedSheepCountCorral) {
                    if (fromCorral[0] < 3) {
                        fromCorral = sheepCounts.pop();
                    }
                    if (toCorral[0] < 2) {
                        formData.push({
                            from: fromCorral[2],
                            to: toCorral[2],
                        });
                    }
                }
                return formData
            }
        },

        created() {
            axios.get('http://127.0.0.1:8000/api/corrals').then(response => {
                this.corrals = response.data;
            })
        },

        methods: {
            update() {
                axios.put('http://127.0.0.1:8000/api/corrals/update-sheep').then(response => {
                    this.corrals = response.data.data;
                    this.date = response.data.date;
                })
            },

            updateCorralSheepCount() {
                console.log('updateCorralSheepCount')

                axios({
                    method: 'put',
                    url: 'http://127.0.0.1:8000/api/corrals/move-sheep',
                    headers: {"Access-Control-Allow-Origin": "*"},
                    data: this.formData
                }).then(response => {
                    this.corrals = response.data;
                })
            },

            startDay() {
                console.log('startDay')
                this.startDate = this.date;
                setInterval(() => {
                    axios({
                        method: 'post',
                        url: 'http://127.0.0.1:8000/api/corrals/add-sheep',
                        headers: {"Access-Control-Allow-Origin": "*"},
                        data: {date: this.date,}
                    }).then(response => {
                        this.corrals = response.data.data;
                        this.date = response.data.date;
                    })
                }, 10000)
            }
        },

        watch: {
            date(val) {
                const startDate = new Date(this.startDate);
                const date = new Date(val);
                console.log(startDate, date);

            },


            formData() {
                if (this.formData.length) {
                    this.updateCorralSheepCount()
                } else {
                    this.startDay();
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
