<template>
    <div>
        <div v-for="(sheep, k) in sheeps" :key="k">
            Овечка {{sheep.id}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "Sheeps",
        props: ['sheeps'],

        mounted() {

        }
    }
</script>

<style scoped>

</style>